.icon {
  width: 240px;
  vertical-align: middle;
  border: 1px solid salmon;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 60px;
  padding: 12px 24px;
  width: 80%;
  max-width: 100px;
  background-color: rgb(139, 96, 14);
  color: white;
  border: none;
  border-radius: 8px;
}
button:active {
  background-color: black;
  color: white;
}

div {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#baker {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 12px 12px;
  width: 80%;
  max-width: 195px;
  background-color: rgb(102, 73, 30);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
}
#baker:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

body {
  background-color: #fdefd4; /* warm pastry tone */
  color: #4a2c00;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
}
