body {
  background-image: url("./baker.png"); /* your background image */
  background-size: cover; /* fill screen */
  background-repeat: no-repeat; /* don't tile if you don't want */
  background-attachment: fixed; /* slight parallax feel */
  background-position: center; /* center image */
  /* picture background inspired by url(https://github.com/jellyb3e/cmpm-121-f25-d1-juliamanou/blob/main/src/style.css) */
  color: #dbd9d5;
  font-family: "Comic Sans MS", cursive;
  text-align: center;
}

#mainButton {
  display: block;
  margin: 0 auto;
  font-size: 60px;
  padding: 12px 24px;
  width: 80%;
  max-width: 100px;
  background-color: rgb(139, 96, 14);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

#mainButton:active {
  background-color: black;
  color: white;
}

#mainButton.flash {
  filter: grayscale(100%) brightness(150%);
  transition: filter 0.15s ease;
}

div {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.shop-button {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 12px 12px;
  width: 80%;
  max-width: 195px;
  background-color: rgb(102, 73, 30);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.shop-button:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.shop-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.icon {
  width: 240px;
  vertical-align: middle;
  border: 1px solid salmon;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-top: 20px;
}
